* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'monospace';
}

html, body{
    height : 100%;
    width : 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

h1{
   height: fit-content;
   width: fit-content;

   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   margin: auto;

   font-size: 100px;
   color: white;

   background-color: black;
   padding: 5vh 12vh 5vh 12vh;

}